<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-y38R4L9l3MYJBMpDoCWfKxegd-ikmxM</string>
	<key>GCM_SENDER_ID</key>
	<string>485055222449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeworkFive</string>
	<key>PROJECT_ID</key>
	<string>cpsc5250-hw5-6f036</string>
	<key>STORAGE_BUCKET</key>
	<string>cpsc5250-hw5-6f036.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485055222449:ios:e4541f556449682a628890</string>
</dict>
</plist>